body{background-image: url(../img/fantasy-2964231_1920.jpg);}
header{height: 100px;
width: auto;
background-color: rgba(123, 123, 199, 0.7);}
h1{
font-size: 35px;
font-family: cursive;
color: rgb(255, 255, 255);}
#contenedor{
display: flex;
justify-content: space-around;}
#div{margin-top: 10px;}
#div3{margin-left: 90px;}
a{text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: 20px;}
article{
margin-top: 70px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
width:60%;
margin-left: auto;
margin-right: auto;}
img{
height: 200px;
width: 200px;}
.div6{height: 200px;
width: 200px;
background-color: rgba(248, 248, 248 , 0.5);}
h2{text-align: center;
color: antiquewhite;
font-size: 30px;
margin-top: 15px;}
p{padding: 5px;
text-align: center;
font-family:Arial, Helvetica, sans-serif}
@media screen and (min-width: 280px) and (max-width: 490px){
header{height: 100px;
width: auto;
background-color: rgba(123, 123, 199, 0.7);}
h1{
font-size: 20px;
font-family: cursive;
color: rgb(255, 255, 255);}
#contenedor{
display: flex;
justify-content: space-around;}
#div{margin-top: 10px;}
#div3{margin-left: 90px;}
a{text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: 15px;
padding: 5px;}
article{
margin-top: 70px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
width:60%;
margin-left: auto;
margin-right: auto;}
img{
height: 200px;
width: 200px;}
.div6{height: 200px;
width: 200px;
background-color: rgba(248, 248, 248 , 0.5);}
h2{text-align: center;
color: antiquewhite;
font-size: 40px;}
p{padding: 5px;
font-size: 15px;
text-align: center;
font-family:Arial, Helvetica, sans-serif}}
@media screen and (min-width: 491px) and (max-width: 570px){}
@media screen and (min-width: 571px) and (max-width: 890px){}
@media screen and (min-width: 891px)and (max-width: 1057px){}


