body{background-image: url(../img/flower-3350053_1920.jpg);}
header{height: 100px;
width: auto;
background-color: rgba(123, 199, 193, 0.5);}
h1{
font-size: 35px;
font-family: cursive;
color: rgb(255, 255, 255);}
#contenedor{
display: flex;
justify-content: space-around;}
#div{margin-top: 10px;}
#div3{margin-left: 90px;}
a{text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: 20px;}
th{border: 2px solid black;
height: 120px;
width: 120px;}
table{display: flex;
justify-content: center;}
#contenedor2{margin-top: 100px;}
h2{text-align: center;
margin-bottom: 30px;
font-size: 30px;
font-family:fantasy;}
#th1{background-color: rgba(49, 49, 166, 0.5);}
#th2{background-color: rgba(49, 166, 61, 0.5);}
#th3{background-color: rgba(166, 49, 49, 0.5);}
#th4{background-color: rgba(150, 166, 49, 0.5);}

@media screen and (min-width: 280px) and (max-width: 490px){header{height: 100px;
width: auto;
background-color: rgba(123, 199, 193, 0.5);}
h1{
font-size: 25px;
font-family: cursive;
color: rgb(255, 255, 255);}
#contenedor{
display: flex;
justify-content: space-around;
padding-left: 10px;}
#div{margin-top: 10px;}
#div3{margin-left: 90px;}
a{text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: 15px;
text-align: center;}
th{border: 2px solid black;
height: 80px;
width: 120px;}
table{display: flex;
justify-content: center;}
#contenedor2{margin-top: 100px;}
h2{text-align: center;
margin-bottom: 30px;
font-size: 30px;
font-family:fantasy;}}
@media screen and (min-width: 491px) and (max-width: 570px){}
@media screen and (min-width: 571px) and (max-width: 890px){}
@media screen and (min-width: 891px)and (max-width: 1057px){}
