body{background-image: url(../img/painting-3995999_1920.jpg);}
header{height: 100px;
width: auto;
background-color: rgba(199, 199, 123 , 0.5);}
h1{
font-size: 35px;
font-family: cursive;
color: rgb(255, 255, 255);}
#contenedor{
display: flex;
justify-content: space-around;}
#div{margin-top: 10px;}
#div3{margin-left: 90px;}
a{text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: 20px;}
#contenedor2{height: 250px;
width: 60%;
background-color: rgba(245, 245, 245 , 0.5);
margin-top: 30px;
margin-left: auto;
margin-right: auto;
text-align: center;}
h2{font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p{font-size: 20px;
font-family: Arial, Helvetica, sans-serif;}
#div4{padding: 40px;}
#button{margin-top: 15px;
font-size: 20px;}
h3{font-size: 50px;
color: aliceblue;
text-align: center;
margin-top: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#div5{background-color: rgba(0, 0, 0 , 0.8);
height: 450px;
width: 90%;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-around;
justify-items: center;}
img{height: 300px;
width: 300px;
margin-top: 80px;
border: 3px solid white;}
@media screen and (min-width: 280px) and (max-width: 490px){
    header{height: 100px;
    width: 100%;
    background-color: rgba(199, 143, 123, 0.5);}
    h1{
    font-size: 25px;
    font-family: cursive;
    color: rgb(255, 255, 255);}
    #div3{margin-left: 100px;}
    a{text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 15px;}
    #contenedor{
    display: flex;
    justify-content: space-around;}
    #contenedor2{height: 250px;
    background-color: rgba(245, 245, 245 , 0.7);
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;}
    h2{font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    p{font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;}
    #div4{padding: 20px;}
    h3{font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    #div5{background-color: rgba(0, 0, 0 , 0.8);
    height: 450px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;}
    img{height: 170px;
    width: 170px;
    margin-top: 80px;
    border: 3px solid white;}
}
@media screen and (min-width: 491px) and (max-width: 570px){
        header{height: 100px;
        width: 100%;
        background-color: rgba(123, 199, 191, 0.5);}
        h1{
        font-size: 30px;
        font-family: cursive;
        color: rgb(255, 255, 255);}
        #div3{margin-left: 120px;}
        a{text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 17px;
        margin-left: 20px;}
        #contenedor{
        display: flex;
        justify-content: space-around;}
        #contenedor2{height: 250px;
        background-color: rgba(245, 245, 245 , 0.7);
        width: 100%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;}
        h2{font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
        p{font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;}
        #div4{padding: 20px;}
        h3{font-size: 35px;
        color: aliceblue;
        text-align: center;
        margin-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        #div5{background-color: rgba(0, 0, 0 , 0.9);
        height: 600px;
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;}
        img{height: 170px;
        width: 170px;
        margin-top: 80px;
        border: 3px solid white;}
}
@media screen and (min-width: 571px) and (max-width: 890px){
    header{height: 100px;
        width: 100%;
        background-color: rgba(146, 123, 199, 0.5);}
        h1{
        font-size: 30px;
        font-family: cursive;
        color: rgb(255, 255, 255);}
        #div3{margin-left: 120px;}
        a{text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 17px;
        margin-left: 20px;}
        #contenedor{
        display: flex;
        justify-content: space-around;}
        #contenedor2{height: 250px;
        background-color: rgba(245, 245, 245 , 0.7);
        width: 100%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;}
        h2{font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
        p{font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;}
        #div4{padding: 20px;}
        h3{font-size: 35px;
        color: aliceblue;
        text-align: center;
        margin-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        #div5{background-color: rgba(0, 0, 0 , 0.9);
        height: 600px;
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;}
        img{height: 190px;
        width: 190px;
        margin-top: 80px;
        border: 3px solid white;}}
        @media screen and (min-width: 891px)and (max-width: 1057px){
            header{height: 100px;
            width: 100%;
            background-color: rgba(199, 199, 123 , 0.5);}
            h1{
            font-size: 30px;
            font-family: cursive;
            color: rgb(255, 255, 255);}
            #div3{margin-left: 120px;}
            a{text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 17px;
            margin-left: 20px;}
            #contenedor{
            display: flex;
            justify-content: space-around;}
            #contenedor2{height: 250px;
            background-color: rgba(245, 245, 245 , 0.7);
            width: 100%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: flex;
            flex-wrap: nowrap;}
            h2{font-size: 25px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
            p{font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;}
            #div4{padding: 20px;}
            h3{font-size: 35px;
            color: aliceblue;
            text-align: center;
            margin-top: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
            #div5{background-color: rgba(0, 0, 0 , 0.9);
            height: 600px;
            width: 100%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-around;
            justify-items: center;
            flex-wrap: wrap;}
            img{height: 190px;
            width: 190px;
            margin-top: 80px;
            border: 3px solid white;}}


         